{% extends "layout.html.twig" %}

{% block content %} 
    <table id="jobs" class="table table-bordred table-striped">
        <tbody>
            {% for result in results %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ url('asking', {id: result['id'] }) }}">{{ result['title'] }}</a>
                        <div id="small-text">
                            {{ result['score'] }} point by 
                            <a href="{{ url('user', {id: result['id'] }) }}">{{ result['by'] }}</a>
                            | {{ (result['time'] | date) |time_diff}}
                            | web |
                            {% if result['descendants'] == 0 %}
                                discuss
                            {% else %}    
                                <a href="{{ url('comment', {id: result['id'] }) }}">{{ result['descendants'] }}</a> comments
                            {% endif %}    
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
