{% extends "layout.html.twig" %}

{% block content %}
    <div id="ask">
        <div>
            {{ result['title'] }}
        </div>
        <div id="small-text">
            {{ result['score'] }} point by 
            <a href="{{ url('user', {id: result['id'] }) }}">{{ result['by'] }}</a> |
            {{ (result['time'] | date) | time_diff}} |
            <a href="https://www.google.com/search?q={{ result['title'] | url_encode }}">web</a> |
            {% if result['descendants'] == 0 %}
                discuss
            {% else %}    
                <a href="{{ url('comment', {id: result['id'] }) }}">{{ result['descendants'] }}</a> comments
            {% endif %}    
        </div>
        <div>
            <textarea name="text" rows="6" cols="60"></textarea>
        </div>
         <div>    
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        <div id="small-text"> 
            <a href="{{ url('user', {id: result['id'] }) }}">{{ result['by'] }}</a>
            {{ (result['time'] | date) | time_diff}} 
        </div>   
        <div>  
            {{ result['text'] }}
        </div> 
        <div>    
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        <div>
            {{ result['kids']}}
        </div>    
    </div>    
{% endblock %}
