{% extends "layout.html.twig" %}

{% block content %} 
    <table class="table table-bordred table-striped">
        <tbody>
            {% for result in results %}
                {% if result['url'] is defined %}
                    <tr>
                        <td>
                            <a href="{{ result['url'] }}">{{ result['title'] }}</a>
                            <div id="small-text">
                                {{ result['score'] }} point by 
                                <a href="{{ url('user', {id: result['by'] }) }}">{{ result['by'] }}</a> |
                                {{ (result['time'] | date) | time_diff}} |
                                <a href="https://www.google.com/search?q={{ result['title'] | url_encode }}">web</a> |
                                {% if result['descendants'] == 0 %}
                                    <a href="{{ url('read_item', {id: result['id'] }) }}">discuss</a>
                                {% else %}    
                                    <a href="{{ url('read_item', {id: result['id'] }) }}">{{ result['kids']|length }} comments</a>
                                {% endif %}    
                            </div>
                        </td>
                    </tr>
                {% elseif result['type'] == 'ask' %}
                    <tr>
                        <td>
                            <a href="{{ url('ask', {id: result['id'] }) }}">{{ result['title'] }}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' with {'page': page, 'maxPages': maxPages, 'pageName': 'story'} %}
{% endblock %}
