{% extends "layout.html.twig" %}

{% block content %}
    <div id="ask">
    {% if result is empty %}
        <div>
            No user data available
        </div>  
            
    {% else %}        
        <table>
        <tr>
            <td>
                User:
            </td>
            <td>
                {{ result['karma'] }}
            </td>    
        </tr> 
        <tr>
            <td>
                Created:
            </td>
            <td>
                {{ result['created'] }}
            </td>    
        </tr> 
        <tr>
            <td>
                {{ result['karma'] }}
            </td>    
        </tr> 
        <tr>
            <td>
                {{ result['karma'] }}
            </td>    
        </tr>  
        <div>  
            {{ result['created'] }}
        </div> 
        </table>         
    </div>    
    {% endif %}
{% endblock %}
